.flashcard {
  @apply h-full relative;

  transform-style: preserve-3d;
  transform-origin: 100% 50%;

  transition: 0.25s ease-in-out;
}

.flashcard.flipped {
  transform: rotateX(180deg);
}

.front,
.back {
  @apply p-3 py-4 border md:border border-gray-300 dark:border-gray-700 rounded;
  @apply absolute inset-0 overflow-auto;
  @apply text-center;
  @apply bg-gray-200 dark:bg-gray-800;

  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 0.6s;
}

.front {
  @apply flex flex-col items-center justify-center text-5xl text-center;
  z-index: 2;
  transform: rotateY(0);
}

.back {
  transform: rotateX(180deg);
}

.flashcard.flipped .back {
  transform: rotateX(180deg);
}
