.previous,
.next,
.current {
  @apply absolute inset-0;

  transition: 0.12s ease-in;
  transition-property: opacity, left, right;
}

.previous,
.next {
  @apply invisible opacity-0;

  z-index: 1;
}

.previous {
  left: -20px;
}

.current {
  @apply visible opacity-100;

  z-index: 2;
}

.next {
  right: -20px;
}
